/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Fonts
 *
 **/

* {
    // font: "Z003 Bold Italic 13";
    font-element: "System-ui Bold Italic 10";
    // font-icon: "System-ui 11.5";
    font-icon: "Liberation Sans 11.25";
    // font-icon: "Font Awesome 6 Pro Light 11";
    // font-element: "DejaVu Sans Mono Bold 10";
}
